@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>eliminar Productos</title>
</head>
<body>
    <div>
        <h2>Editar</h2>
        <input type="text" id="input_nombre" placeholder="Nombre" /> <br>
        <input type="text" id="input_Marca" placeholder="Marca" /> <br>
        <input type="text" id="input_Familia" placeholder="Familia" /> <br>
        <input type="text" id="CasaFabricación" placeholder="Casa Fabricación" /> <br>
        <input type="text" id="TipoUnidad" placeholder="Tipo Unidad" /> <br>
        <input type="text" id="Departamento" placeholder="Departamento" /> <br>
        <select>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
        </select><br>
        <input type="number" name="Descuento" min="0" max="50"><br />
        <input type="date" name="fecha"><br />
        <!--<input type="text" id="FechaIngreso" placeholder="Fecha Ingreso" /> <br>-->
        <input type="text" id="Unidad" placeholder="Unidad" /> <br>
        <input type="text" id="Impuesto" placeholder="Impuesto" /> <br>
       
    </div>
    <button type="submit">Guardar</button>
</body>
</html>

