@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Editar Productos</title>
</head>
<body>
    <body>
        <div>
            <h2>Nuevo Cliente</h2>
            <input type="text" id="Cedula" placeholder="Cedula" /> <br>
            <input type="text" id="Nombre" placeholder="Nombre" /> <br>
            <input type="text" id="Marca" placeholder="Marca" /> <br>
            <input type="text" id="Familia" placeholder="Familia" /> <br>
            <input type="text" id="CasaFabricación" placeholder="Casa Fabricación" /> <br>
            <input type="text" id="TipoUnidad" placeholder="Tipo unidad" /> <br>
            <input type="text" id="Departamento" placeholder="Departamento" /> <br>
            <input type="text" id="Activo" placeholder="Activo" /> <br>
            <input type="text" id="Fecha Ingreso" placeholder="Fecha Ingreso" /> <br>
            <input type="text" id="Unidad" placeholder="Unidad" /> <br>
            <input type="text" id="Impuesto" placeholder="Impuesto" /> <br>
        </div>
        <button type="submit">Guardar</button>
    </body>
</body>
</html>

