@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Crear Factura </title>
</head>
<body>
    <div>
        <h2>Nuevo</h2>
        <input type="text" id="Cliente" placeholder="Cliente" /> <br>
        <input type="text" id="NumeroFactura" placeholder="Numero Factura" /> <br>
        <input type="date" name="fecha"><br />
        <input type="text" id="Subtotal" placeholder="Impuesto" /> <br>
        <input type="text" id="Impuesto" placeholder="Impuesto" /> <br>
        <input type="text" id="Total" placeholder="Impuesto" /> <br>
     
    </div>
    <button type="submit">Guardar</button>
</body>
</html>


