{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Editar Factura </title>
</head>
<body>
    <div>
        <h2>Editar</h2>
        <input type="text" id="Cliente" placeholder="Cliente" readonly /> <br>
        <input type="text" id="NumeroFactura" placeholder="Numero Factura" readonly /> <br>
        <input type="date" name="fecha" readonly><br />
        <input type="text" id="Subtotal" placeholder="Impuesto" readonly /> <br>
        <input type="text" id="Impuesto" placeholder="Impuesto" readonly /> <br>
        <input type="text" id="Total" placeholder="Impuesto" readonly /> <br>
        <select>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
        </select><br>

    </div>
    <br />
    <button type="submit">Guardar</button>

</body>
</html>


